@import '../../../theme/variables.scss';


.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-left: 1rem;
}

.header h1 {
    font-size: 2.5rem; /* 4 * 16px */
    font-weight: bold;
}

.header h2 {
    font-size: 1.5rem; /* 4 * 16px */
    font-weight: bold;
}

.subheader {
    font-size: 1rem; /* 4 * 16px */
    font-weight: bold;

    margin-top: 0;
    margin-left: 1rem;
}

.words {
    margin-left: 1rem;
    width: 12rem;
    border-radius: 6px;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.words * {
    width: 100%;
}

.words-header {
    text-align: left;
    margin-bottom: 0;
}

.words-text {
    color: var(--ion-text-color);
}


