<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detail</ion-title>

    <ion-label slot="end"> Dark: </ion-label>
    <ion-toggle class="button" slot="end" 
      [(ngModel)]="isDark" (ionChange)="theme.onThemeChange($event)"></ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">detail</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text color="primary">
    <div class="header">
      <h1> {{ allData.query }} </h1>
      <h2> ({{ allData.apiChoice }}) </h2>
    </div>
  </ion-text>

  <div>
    <ion-text>
      <p class="subheader"> Used Regex: {{ allData.regex }} </p>
    </ion-text>
  </div>

  <div>
    <div class="words" *ngFor="let pair of getSharedPositionArray()">
      <ion-text color="secondary">
        <h2 class="words-header" *ngIf="pair[0] == '1'"> {{ pair[0] }} Syllabel </h2>
        <h2 class="words-header" *ngIf="pair[0] != '1'"> {{ pair[0] }} Syllabels </h2>
      </ion-text>

      <ion-card color="light">
        <ion-card-content class="full-width">
          <p class="words-text" *ngFor="let word of pair[1]"> {{ word }} </p>
        </ion-card-content>
      </ion-card>

    </div>
  </div>


</ion-content>
