<ion-content>
  <ion-button (click)="dismissModal()">Close</ion-button>

  <ion-list>
    <ion-item>
        <ion-label> Input Word: </ion-label>
        <ion-input type="text" [(ngModel)]="inputed_word" text-right id="input_word"/>
    </ion-item>
    <ion-item>
        <ion-label> RegEx: </ion-label>  
        <ion-input type="text" [(ngModel)]="inputed_regex" text-right id="input_regex"/>
    </ion-item>

    <ion-radio-group value="apiChoice" [(ngModel)]="apiChoice">
      <ion-item *ngFor="let item of items">
        <ion-label>{{ item.label }}</ion-label>
        <ion-radio value="{{ item.value }}"> </ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>

  <ion-button (click)="submit()">Submit</ion-button>
</ion-content>