#container {
  display: flex;
  margin-left: 1rem;
  margin-right: auto;
};

#openModal {
  margin-left: 1.2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.button {
  margin-left: 1rem;
  margin-right: 1rem;
}